<div class="container">
  <div class="login">
    <h1>Login Here</h1>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" [(ngModel)]="username"/>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" [(ngModel)]="userpwd">
      </div>
      <!-- <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Remember me</label>
      </div> -->
      <br>
      <button type="submit" class="btn btn-success" (click)="login()">Login</button>
      <button style="margin-left: 10px;" type="submit" class="btn btn-primary" disabled (click)="addUser()">Create Account</button>

  </div>
</div>
